body {
  background-color: rgb(241, 189, 125);
  font: normal 15pt arial;
}

header {
  color: white;
  text-align: center;
}

section {
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  width: 550px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.299);
}

.select,
.finalizar,
.apagar {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apagar input[type="button"] {
  background-color: red;
  cursor: pointer;
}

#txtAdicionado {
  width: 200px;
  height: 200px;
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}
